{% extends 'back_base.html.twig' %}



{% block body %}
    <h1><center>modifier un Congé</center></h1>

    {{ include('conge/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" style="width: 200px;" href="{{ path('app_conge_index') }}">retour a la liste</a>

    
{% endblock %}
