{% extends 'base_back.html.twig' %}



{% block body %}
    <h1><center>Demander congé</center></h1>

    {{ include('conge/_form.html.twig') }}

    <a  href="{{ path('app_conge_index') }}">retour à la liste</a>
{% endblock %}
