<form action="{{ path('search') }}" method="GET">
            <input type="text" name="keyword" class="search-bar" placeholder="Recherche...">
            <button type="submit" class="search-button">Rechercher</button>
        </form>