{% extends 'back_base.html.twig' %}

{% block title %}Edit DemandeAchat{% endblock %}

{% block body %}
    <h1>Edit DemandeAchat</h1>

    <div class="card">
        <div class="card-body">
            {{ include('demande_achat/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    <a href="{{ path('app_demande_achat_index') }}" class="btn btn-primary mt-3">Back to List</a>

    <div class="card mt-3">
        <div class="card-body">
            {{ include('demande_achat/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
