{% extends 'back_base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Veuillez Remplir ce Champ pour confirmer votre demande </h1>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ include('demande_achat/_form.html.twig') }}

    <a href="{{ path('app_demande_achat_index') }}">back to list</a>
{% endblock %}
