{% extends 'back_base.html.twig' %}

{% block title %}<title>Modifier la Réponse de Réclamation</title>{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Modifier la Réponse de Réclamation</h1>

        {{ include('reponse_reclamation/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}

        <a href="{{ path('app_reponse_reclamation_index') }}" class="btn btn-secondary"><span class="fas fa-arrow-left"></span> Retour à la Liste</a>

        {{ include('reponse_reclamation/_delete_form.html.twig') }}
    </div>
{% endblock %}
