<form method="post" action="{{ path('app_compte_client_delete', {'id': compte_client.id}) }}" class="deleteForm d-flex align-items-center">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte_client.id) }}">
    <button class="btn btn-danger" style="width: 200px; background-color: #D04848; margin: auto;">Supprimer</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelector('.deleteForm').addEventListener('submit', function (event) {
        event.preventDefault();

        Swal.fire({
            title: 'Êtes-vous sûr de vouloir supprimer cet élément ?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Oui, supprimer',
            cancelButtonText: 'Annuler'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si l'utilisateur confirme, soumettez le formulaire
                this.submit();
            }
        });
    });
</script>
