{% extends 'back_base.html.twig' %}

{% block title %}Edit CompteClient{% endblock %}

{% block body %}
    <h1>Edit CompteClient</h1>

    {{ include('compte_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_compte_client_index') }}">back to list</a>

    {{ include('compte_client/_delete_form.html.twig') }}
{% endblock %}
