{% extends 'front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h4>Remplir ce Formulaire pour confirmer votre Commande</h4>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ include('commande/_form.html.twig') }}

    <a href="{{ path('app_commande_index') }}">back to list</a>
{% endblock %}
