{% extends 'base.html.twig' %}

{% block title %}Edit Credit{% endblock %}

{% block body %}
    <h1  style="text-align: center;">Modifier un Credit</h1>

    {{ include('credit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_credit_index') }}">retourner à la liste</a>

    {{ include('credit/_delete_form.html.twig') }}
{% endblock %}
