{% extends 'base.html.twig' %}


{% block body %}
    <h1 style="text-align: center;">Ajouter un nouveau Credit</h1>

    {{ include('credit/_form.html.twig') }}

    <a class="btn btn-secondary" style="width: 200px;" href="{{ path('app_credit_index') }}">retourner à la liste</a>
{% endblock %}
