{% extends 'base_back.html.twig' %}

{% block title %}Edit ReponseCredit{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Modifier la ReponseCredit</h1>

    {{ include('reponse_credit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reponse_credit_index') }}">retourner à la list</a>

    {{ include('reponse_credit/_delete_form.html.twig') }}
{% endblock %}
