{% extends 'base_back.html.twig' %}

{% block title %}New ReponseCredit{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Créer une nouvelle ReponseCredit</h1>

    {{ include('reponse_credit/_form.html.twig') }}

    <a href="{{ path('app_reponse_credit_index') }}">retourner à la list</a>
{% endblock %}



