{% extends 'back_base.html.twig' %}

{% block title %}Edit Achat{% endblock %}

{% block body %}
    <h1>Edit Achat</h1>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ include('achat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_achat_index') }}">back to list</a>

    {{ include('achat/_delete_form.html.twig') }}
{% endblock %}
