{% extends 'back_base.html.twig' %}

{% block title %}New Achat{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Créer un nouvel Achat</h1>
    
    <div class="container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ include('achat/_form.html.twig') }}
            </div>
        </div>

        <div class="text-center mt-3">
            <a href="{{ path('app_achat_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <button type="button" class="btn btn-success">Save</button>
        </div>
        
        {{ form_end(form) }}
    </div>
{% endblock %}
