<center><img src="https://i.imgur.com/u6bBjNg.png"></center>

<h1>Hello!</h1>

<p>Congratulations! Your account creation has been completed successfully.</p>
<p>These are your account information:</p>
<p>Email: {{ SiyahiEmail }}</p>

<p>Cheers!</p>
