<form method="post" action="{{ path('app_reponse_conge_delete', {'id': reponse_conge.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse_conge.id) }}">
    <img src="{{ asset('front/assets/img/team/sup.png') }}" alt="Modifier" style="width: 25px;">
</form>
