{% extends 'back_base.html.twig' %}



{% block body %}
    <h1><center>Modifier une réponse congé</center></h1>

    {{ include('reponse_conge/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reponse_conge_index') }}">retour à la liste</a>

   
{% endblock %}
